!!! 5
html
  head
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' )
    script( src='/socket.io/socket.io.js' )
    script
      io.connect().on('message', function ( count ) {
        $('body').html( count );
      });

  body Loaded...
