!!! 5
html
  head
    title HTML Layout
    link( href='css/spa.css', type='text/css', rel='stylesheet' )
    link( href='css/layout.css', type='text/css', rel='stylesheet' )

  body
    #spa
      .spa-shell-head
        .spa-shell-head-logo
        .spa-shell-head-acct
        .spa-shell-head-search

      .spa-shell-main
        .spa-shell-main-nav
        .spa-shell-main-content

      .spa-shell-foot

      .spa-shell-chat

      .spa-shell-modal
